<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Homepage</title>
</head>
<body>
<h1>Admin Homepage</h1>
<h2 th:text="make"></h2>
<a href="http://localhost:8080/admin/cs6310/team045/make_store">make store</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/make_pilot">make pilot</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/make_drone">make drone</a><br/>

<h2 th:text="do"></h2>
<a href="http://localhost:8080/admin/cs6310/team045/sell_item">stock item into store</a><br/>
<h2 th:text="display"></h2>
<a href="http://localhost:8080/admin/cs6310/team045/stores">display store</a><br/>
<a href="http://localhost:8080/user/cs6310/team045/customers">display customers</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/items">display items of a store</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/pilots">display pilots of a store</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/drones">display drones of a store</a><br/>
<a href="http://localhost:8080/user/cs6310/team045/orders">display orders of a store</a><br/>

</body>
</html>