<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Homepage</title>
</head>
<body>
<h1>Admin Homepage</h1>
<h2 th:text="make"></h2>
<a href="http://localhost:8080/admin/cs6310/team045/make_store_form">make store</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/make_customer_form">make customer</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/make_pilot_form">make pilot</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/make_drone_form">make drone</a><br/>

<h2 th:text="do"></h2>
<a href="http://localhost:8080/admin/cs6310/team045/stock_item_form">stock item</a><br/>
<h2 th:text="display"></h2>
<a href="http://localhost:8080/admin/cs6310/team045/stores">display stores</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/customers">display customers</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/pilots">display pilots</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/items_form">display items of a store</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/drones_form">display drones of a store</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/orders_form">display orders of a store</a><br/>
<h2 th:text="user"></h2>
<a href="http://localhost:8080/user/cs6310/team045/user_homepage">Go to User Homepage</a><br/>

</body>
</html>