<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<h1>你好</h1>
<h2 th:text="呵呵"></h2>
</body>
</html>




<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make store</title>
</head>
<body>
<h1>Make store</h1>
<form  th:action="@{/admin/cs6310/team045/make_store}" th:object="${store}"  method= 'post'>
    name: <input type = 'text'  th:name="name"><br><br>
    revenue: <input type = 'text' th:revenue = 'revenue'><br><br>
    <input type = 'submit' value = 'submit'>

</form>

</body>
</html>