<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grocery Express</title>
</head>
<body>
<h1>Grocery Express</h1>
<a href="http://localhost:8080/user/cs6310/team045/user_homepage">Login to User Homepage</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/admin_homepage">Login to Admin/Store Homepage</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/make_customer_form">Create a new user account</a><br/>

</body>
</html>