
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make customer</title>
</head>
<body>
<h1>Make customer</h1>
<form  th:action="@{/admin/cs6310/team045/make_customer}" th:object="${customer}" method= 'post'>
    <label for="account">account:</label>
    <input type="text" th:field="*{account}" class="form-control"
           id="account" placeholder="account" /> <br><br>


    <label for="password">password:</label>
    <input type="text" th:field="*{password}" class="form-control"
           id="password" placeholder="password" /> <br><br>

    <label for="firstName">firstName:</label>
    <input type="text" th:field="*{firstName}" class="form-control"
           id="firstName" placeholder="firstName" /> <br><br>

    <label for="lastName">lastName:</label>
    <input type="text" th:field="*{lastName}" class="form-control"
           id="lastName" placeholder="lastName" /> <br><br>

    <label for="phoneNumber">phoneNumber:</label>
    <input type="text" th:field="*{phoneNumber}" class="form-control"
           id="phoneNumber" placeholder="phoneNumber" /> <br><br>

    <label for="rating">rating:</label>
    <input type="text" th:field="*{rating}" class="form-control"
           id="rating" placeholder="rating" /> <br><br>

    <label for="credits">credits:</label>
    <input type="text" th:field="*{credits}" class="form-control"
           id="credits" placeholder="credits" /> <br><br>

    <input type = 'submit' value = 'submit'>

</form>
<a href="/admin/cs6310/team045/admin_homepage">Go to Homepage</a><br><br>

</body>
</html>