<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Orders of a Store</title>
</head>
<body>
<h1>Display Orders of a Store</h1>

<h1>Result</h1>
<p th:text="'Message: ' + ${Message}" />

<table class="table table-striped table-primary">
    <thead class="ttop">
    <tr class="table-info">
        <td width="20px"><b> id</b></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order, iStat : ${orders}" th:style="${iStat.odd}? 'font-weight: normal;'">
        <td width="20px" th:text="${order.id}">


    </td></tr>
    </tbody>
</table>
<a href="/admin/cs6310/team045/admin_homepage">Go to Homepage</a><br><br>
</body>
</html>

