<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display Pilots</title>
</head>
<body>
<h1>Display Pilots</h1>
<table class="table table-striped table-primary">
    <thead class="ttop">
    <tr class="table-info">
        <td width="20px"><b> account</b></td>
        <td><b>firstName</b> </td>
        <td><b>lastName</b> </td>
        <td><b>phoneNumber</b> </td>
        <td><b>taxID</b> </td>
        <td><b>licenseID</b> </td>
        <td><b>experience</b> </td>
<!--        <td><b>drone assigned</b> </td>-->

    </tr>
    </thead>
    <tbody>
    <tr th:each="pilot, iStat : ${pilots}" th:style="${iStat.odd}? 'font-weight: normal;'">
        <td width="20px" th:text="${pilot.account}">
        </td><td th:text="${pilot.firstName}">
    </td><td th:text="${pilot.lastName}">
    </td><td th:text="${pilot.phoneNumber}">
    </td><td th:text="${pilot.taxID}">
    </td><td th:text="${pilot.licenseID}">
    </td><td th:text="${pilot.experience}">
<!--    </td><td th:text="${pilot.control.getId()}">-->


    </td></tr>
    </tbody>
</table>
<a href="/admin/cs6310/team045/admin_homepage">Go to Homepage</a><br><br>
</body>
</html>

