<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Homepage</title>
</head>
<body>
<h1>User Homepage</h1>
<a href="http://localhost:8080/admin/cs6310/team045/??">display my orders</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/start_order">start order</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/request_item">request item</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/?purchase_order">purchase order</a><br/>
<a href="http://localhost:8080/admin/cs6310/team045/?cancel_order">cancel order</a><br/>



</body>
</html>