<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Homepage</title>
</head>
<body>
<h1>User Homepage</h1>
<a href="http://localhost:8080/user/cs6310/team045/orders">display my orders</a><br/>
<a href="http://localhost:8080/user/cs6310/team045/start_order_form">start new order</a><br/>
<a href="http://localhost:8080/user/cs6310/team045/request_item_form">request item</a><br/>
<a href="http://localhost:8080/user/cs6310/team045/purchase_order_form">purchase order</a><br/>
<a href="http://localhost:8080/user/cs6310/team045/cancel_order_form">cancel order</a><br/>



</body>
</html>